{{ ansible_managed | comment }} 
#
# NHC Configuration File (Ansible NHC Role)
#
# Lines are in the form "<hostmask>||<check>"
# Hostmask is a glob, /regexp/, or {noderange}
# Comments begin with '#'
#

#######################################################################
###
### NHC Configuration Variables
###
{% for key, value in nhc_settings.items() %}
   * || export {{ key }}={{ value }}
{% endfor %}

{% for nhc_group, nhc_group_checks in nhc_checks.items() %}

#######################################################################
###
### {{ nhc_group | replace('_', ' ') | capitalize }}
###

{% for nhc_check in nhc_group_checks %}
{% if nhc_check.comment is defined %}
# {{ nhc_check.comment }}
{% endif %}
{% if nhc_check.match is defined and nhc_check.command is defined %}
   {{ nhc_check.match }} || {{ nhc_check.command }}
{% endif %}
{% endfor %}
{% endfor %}
